
/* ---------- Overall Specifications ---------- */


#sitecontainer {

margin: 0 auto;
width: 940px;
}

/*sitecontainer {

margin: 0 auto;
}

*/
#vintagelogo {
	height: 99px;
    position: relative;
	float:left;
    width: 290px;
	
      }
	  
#vintagelogo a {
    display:block;
    position:relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
#vintagelogo a span {
	background:url(images/vintagelogo.png) no-repeat;
	position:absolute;
	height:100%;
    width:100%;
}

html {
	background-color: #dfdfdf;
	height: 100%;
	height: auto;
}

/* ---------- Menu and Primary Naviagation---------- */

#header {
	width: 100%;
	height: 140px;
	margin-top: 20px;
}

#navigation {
	width: auto;
	float: right;
	position: relative;
}

main-menu {
	text-decoration: none;
}

/*
#main-menu-links {
margin-top:65px;
float: right;
font-family: "museo-slab-1","museo-slab-2",serif;
  font-size: 175%;
  color: #681d11;
}
*/
#main-menu-links {
	margin:65px 0px 0px 0px;
	float: right;
	font-family: 'LatoHairline', arial, serif;
  	font-size: 200%;
 	color: #681d11;
  	text-transform: lowercase;
  	position: relative;
  	z-index: 500;

  	
  	}

#main-menu-links li{
    display: inline;
    
    }
 
#main-menu-links li a {
    float: right; 
	text-decoration: none;
    color: #681d11;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;	

  }
  
#main-menu-links li a:hover {
  background-color: #EBEBEB;
     -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

  }
  


  
.reservations_widget_box {

	width: 215px;
	height: 514px;
	margin-top: 63px;
	margin-left:  732px;
	background:url('images/reservationmenudropdown.png') no-repeat;
	position: absolute;
	padding: 75px 22px 5px 20px;
	display: none;
	z-index:450;
}



 
  
  /* ---------- Homepage Featured Slider---------- */
  

#featured-slider {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 340px;
	width: 940px;


}

.dropshadowsslider {
	margin-left: auto;
	margin-right: auto;
	background: url(images/dropshadowslider.png) no-repeat;
	width:938px;
	height:11px;
	display:block;
}

#views_slideshow_cycle_main_featured_homepage_slider-block {
	width: 930px;
	display:block;
	height: 330px;
	overflow: hidden;
	border: 5px solid #999999;
}

#views_slideshow_controls_text_featured_homepage_slider-block {

	margin-top: 280px;
	position:absolute;

}

#views_slideshow_controls_text_previous_featured_homepage_slider-block, #views_slideshow_controls_text_pause_featured_homepage_slider-block,
#views_slideshow_controls_text_next_featured_homepage_slider-block {

	height: 0px;
	width:42px;
	position: absolute;
	padding-top:42px;
  	overflow:hidden;
  	z-index: 400;
  	
  	}

  
#views_slideshow_controls_text_previous_featured_homepage_slider-block {

	background: url(images/prev_arrow_feature_control.png) no-repeat;
	margin-left: 790px;


}

/* #views_slideshow_controls_text_pause_featured_homepage_slider-block, {

background: url(images/pause_symbol_feature_control.png) no-repeat;
margin-left: 790px;
 } 
 */
 
#views_slideshow_controls_text_next_featured_homepage_slider-block {

	background: url(images/forward_arrow_feature_control.png) no-repeat;
	margin-left: 840px;

}

/* ---------- Wine Page Slider---------- */

#views_slideshow_cycle_teaser_section_wine_page_image_slider-block {
	float:right;
	width: 350px;
	display:block;
	height: 200px;
	border: 5px solid #999999;

}



/* ---------- Menu Page Slider---------- */

#views_slideshow_cycle_teaser_section_menu_page_image_slider-block {
	float:right;
	width: 350px;
	display:block;
	height: 200px;
	border: 5px solid #999999;

}


/* ---------- Wine List Views--------- */

.views-field-field-wine-location-description {
	width: 800px;
	float: left;
	}

.views-field-field-wine-glass-price {

	float: left;
	position: relative;
}

.views-field-field-wine-bottle-price {
	
	float: left;
	position: relative;

}


  
/* ---------- Tagline Content---------- */

.tagline {

	background-color: #ecebeb;
	height:90px;
	margin: 20px 20px 40px 20px;
	overflow: visible;

}

/*.tagline-image {

width: 58px;
height: 120px;
margin: -17px 10px 0 10px;
float: left;
background: url(images/vintagetaglinegraphic.png) no-repeat;

}
*/

.region-tagline-region {
	margin: 0px 0px 0px 20px;
}

.tagline h1 {
	color: #898989;
	margin: 0px 0px 0px 0px;
	padding:  15px 0px 0px 0px;
	line-height:1;
	font-size: 220%;
	font-family: 'LatoLightItalic', arial, serif;
}

.tagline p {

	color: #bf540f;
	padding: 10px 0 0 0;
	margin: 0 0 0 0;
	font-size: 130%;
	line-height:1;
	font-family: 'LatoLightItalic', arial, serif;


}
/* ---------- Node Tabs---------- */

.tabs li a  {
	font-size: 100%;
	font-family: 'LatoLight', arial, serif;
}
  
/* ---------- Body Content---------- */

.red {

	background-color:#FF0000;

}

.block_titles {
	clear:both;
}



.node-body h2 {

	margin: 0px 0px 5px 0px;
	font-family: 'LatoLight', arial, serif;
 	color: #555555 ;

}

.node-body p {
	margin: 10px 0px 10px 0px;
	font-family: 'LatoLight', arial, serif;
 	color: #888888;

}

.node-body {
	height: 250px;
}

.wine_list_view_titles {

	width: 500px;
	float: left;
	position: relative;
}


.wine-list {

	margin-top: 40px;
	margin-bottom: 30px;

}


.region-wine-list h2 {

	margin: 0px 0px 10px 0px;
	padding-top: 20px;
	font-family: 'LatoHairline', arial, serif;
	color: #333333;
	clear:both;

}

.view-wine-list-sparkling div.views-row {
	clear:both;
}

.views-field-field-wine-location-description div, .views-field-field-wine-price div, .views-field-field-wine-bottle-price div, .views-field-field-wine-glass-price div,.legend p {

	margin: 2px 0px 2px 0px;
	font-family: 'LatoLight', arial, serif;
	color: #666666;
	font-size: 100%;

}


.legend {
	margin-bottom: 20px;
}
.legend p {
	text-align:center;
	font-size: 100%;

}



.menu_item_title {
	margin-right: 5px;
	font-size: 100%;
	float:left;
	clear: both;
}

.region-menu-left div.views-row, .region-menu-right div.views-row  {
	clear:both;
}


.menu-list {
	margin-top: 30px;
	margin-bottom: 40px;
}

.menu-divider {
	border-bottom: 1px solid #888888;
}

.menu-list h2, .breakfast h2, .brunch h2 {

	margin: 20px 0px 10px 0px;
	font-family: 'LatoHairline', arial, serif;
	color: #333333;
}

.menu_item_title p {

	font-family: 'LatoRegular', arial, serif;
 	color: #888888;
 	font-size:100%;
 	-webkit-text-size-adjust: 100%;
 	margin: 0 0 0 0;
 	padding: 0 0 0 0;
}

.menu_item_description p {

	font-family: 'LatoLightItalic', arial, serif;
	color: #888888;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0 0 0 0;
 	padding: 0 0 0 0;
}

#sub_node_box {
	/*min-height: 350px;*/
	height: 100%;
	padding: 40px 0px 40px 0px;
	width: 100%;
	background-color: #ebebeb;
	clear:both;
	position: relative;
	overflow:hidden;
}

.breakfast, .brunch {
	margin-bottom: 20px;
}

/* ---------- Mentions---------- */


.mention-row-logo {
	width:200px;
	float: right;
	margin-left: 250px;
}


.mention_row_quote p {
	float: left;	
	font-family: 'LatoLightItalic', arial, serif;
	color: #666666;

}

/*
mention-body img {
  font-family: "museo-slab-1","museo-slab-2",serif;
  }
*/  

.bottommargin {
	padding-bottom: 40px;
}



/* ----------Upcoming---------- */


.upcoming {
	height: 100%;
}

.region-upcoming-events {
	height: 100%;
}

.view-upcoming-events {
	height: 100%;
}

.upcoming-events-row {
	clear:both;
	height: 100%;
	margin-bottom: 20px;
	overflow: hidden;
}

.upcoming_events_title p {
	margin: 0px 0px 0px 0px;
	font-size: 120%;
	font-family: 'LatoLight', arial, serif;
	color: #444444;
}

.upcoming_events_time p, .upcoming_events_date p  {

	margin: 0px 0px 0px 0px;
	font-size: 100%;
	color: #666666;
}

.upcoming_events_image {
	float: left;
	margin: 0px 10px 10px 0px;
	height: 100%;

}

.upcoming_events_image {
	float: left;
	margin: 0px 10px 10px 0px;
	height: 100%;

}

.upcoming_events_image img {
	border: 4px solid #999999;
}

.upcoming_events_image p {

	margin: 0px 10px 10px 0px;

}



/* ----------Specials---------- */



.specials-row {
	font-size: 120%;
 	color: #666666;
	font-family: 'LatoLight', arial, serif;
 	margin-bottom: 28px;
}

.blocktitleshift {
	margin-top: 0px;
}
/* ----------Footer---------- */



/*footer {
background-image: url(images/footertrans.png);
background-repeat:repeat-x;
background-color: #52160d;
height:300px;

} */

.footer {
    width:100%;
   	float: left;
    height: 370px;
	background-image: url(images/footertrans.png);
	background-repeat: repeat-x;
	background-color: #52160d;
    clear:both;
}

.footer h1 {
  font-size: 200%;
	font-family: 'LatoLight', arial, serif;
  color:#dfdfdf;
   margin: 30px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.5;
 }
 
.footer h2 {
  font-family: 'Latolight', arial, serif;
  font-size: 120%;
  color:#dfdfdf;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
 
 
 }
 
.footer h3 {
  font-size: 100%;
	font-family: 'LatoLightItalic', arial, serif;
	color:#dfdfdf;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  line-height: 1.5;
 
 }
 
 .footer p {
  font-size: 85%;
	font-family: 'LatoLight', arial, serif;
  color:#dfdfdf;
  line-height: 1.2;
 
 }

.footer a:link,
.footer a:visited, .footer a:hover,
.footer a:active,
.footer a:focus {
  text-decoration: none;
  color:inherit;
  font-weight: normal;
  font-style: normal;

    }
  
#map_canvas {
	margin-top:10px;
	margin-bottom:10px;
	height: 100px;
	width: 240px;
 
  }

.facebooklike {
	width: 90px;
	height: 20px;
	display: block;
	float: left;
}


.twitterfollow {
	width: 180px;
	height: 20px;
	display: block;
	margin-right: 20px;
	float: right;
	overflow: hidden;
	}



/* ----------Email Signup Block / Form---------- */
  
input.form-submit {
	margin-left: 5px;
	margin-top: 2px;
	padding: 2px 3px 2px 3px;
    border: 3px solid #dfdfdf;
	background: #FFFFFF;
}

.form-text {   

	padding-left: 5px;
	font-family: 'LatoLight', arial, serif;
    color: #333333;
  	font-size: 100%;
  
  }



#edit-submit {

	font-family: 'LatoLight', arial, serif;
    color: #333333;
  	font-size: 100%;
  
  }

#edit-submitted-email { 
	margin: 2px 5px 2px 0px;
    border: 3px solid #dfdfdf;
	float:left;
 	width: 190px;
  	height: 20px; 
 }
  
  


/* ----------Mailchimp eNewsletter Signup (Not Used right now)---------- */


edit-submitted-fname {
	display:none;
}

edit-submitted-lname {
	display:none;
}

form-type-textfield form-item-mailchimp-lists-b8fd99fe24-EMAIL label {
	display:none;
}


/* ----------Core CSS---------- */

.homepagecolumnleft {
	padding-right: 10px;
}

.homepagecolumnright {
	padding-left: 10px;
}



#messages {
	margin: 0 auto;
	width:800px;



}

body {
  line-height: 1.5;
  font-size: 87.5%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  height: 100%;

}
a:link,
a:visited {
  text-decoration: none;
  color: #681d11;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #681d11;
}
/*

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-family: "museo-slab-1","museo-slab-2",serif;
}

*/

h1,
h2,
h3,
h4,
h5,
h6,
p { 
/* font-family: "museo-slab-1","museo-slab-2",serif; */
	font-weight: normal;
	font-style: normal;
 }


h1 {
  font-size: 300%;
	font-family: 'LatoLight', arial, serif;
  color: #681d11;
 
}
h3 {
  font-size: 125%;
  font-family: 'LatoHairlineItalic', arial, serif;
}
p {
  margin-top: 5px;
  font-family: 'LatoHairline', arial, serif;
  font-size: 120%;

}

